<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin the Wheel</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/icon.png" type="image/png"> <!-- Icon Section -->
</head>
<body>
    <div class="container">
        <div class="wheel-container">
            <canvas id="wheel" width="500" height="500"></canvas>
            <button id="spinButton">Spin</button>
        </div>
        <div id="result"></div>
    </div>
</body>
<script src="/static/js/script.js"></script>
</html>
